services:
  quizDb:
    image: mcr.microsoft.com/mssql/server
  distributedcachequiz:
    image: redis
  ollama:
    image: ollama/ollama:latest
  qdrant:
    image: qdrant/qdrant:latest
volumes:
    mssql_quiz:
    ollama_volume:
    qdrant_data:
      