services:
  contextbuilderservice:
    image: ${DOCKER_REGISTRY-}contextbuilderservice
    build:
      context: .
      dockerfile: src/ContextBuilderService/Dockerfile
  llmservice:
    image: ${DOCKER_REGISTRY-}llmservice
    build:
      context: .
      dockerfile: src/LLMService/Dockerfile
  quizservice:
    image: ${DOCKER_REGISTRY-}quizservice
    build:
      context: .
      dockerfile: src/QuizService/QuizService.Api/Dockerfile
  userervice:
    image: ${DOCKER_REGISTRY-}userervice
    build:
      context: .
      dockerfile: src/UserService/Dockerfile 
  yarp:
    image: ${DOCKER_REGISTRY-}yarp
    build:
      context: .
      dockerfile: YarpGateway/Dockerfile
  squid:
    image: ubuntu/squid
  quizDb:
    image: mcr.microsoft.com/mssql/server
  distributedcachequiz:
    image: redis
  ollama:
    image: ollama/ollama:latest
  qdrant:
    image: qdrant/qdrant:latest
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.7
volumes:
    mssql_quiz:
    ollama_volume:
    qdrant_data:
    keycloak_data:
    squid_cache:
    squid_logs:
